extends layout/layout.jade
block pagecontent
  -var pagetitle="404"
  //include _topbar.jade
  //include _navbar.jade
  include components/404-content.jade
  -var redsectionversion = "subsribe"
  include components/_red-section.jade
  include components/_footer.jade
  include components/_copy-rights.jade