extends layout/layout.jade
block pagecontent
  -var pagetitle="ABOUT US"
  include _topbar.jade
  include _navbar.jade
  include components/_breadcrumbs.jade
  include components/_about-us.jade
  -var teambg ="grey-bg"
  include components/_our-team.jade
  include components/_our-numbers.jade
  include components/_testmonials.jade
  -var partnersbg ="wh-bg"
  include components/_partners.jade
  -var redsectionversion = "subsribe"
  include components/_red-section.jade
  include components/_footer.jade
  include components/_copy-rights.jade