extends layout/layout.jade
block pagecontent
  -var pagetitle="CAUSES"
  include _topbar.jade
  include _navbar.jade
  include components/_breadcrumbs.jade
  -var causesversion = "one-causes-page"
  include components/_causes.jade
  include components/_partners.jade
  -var redsectionversion = "subsribe"
  include components/_red-section.jade
  include components/_footer.jade
  include components/_copy-rights.jade