extends layout/layout.jade
block pagecontent
  -var pagetitle="Gallery"
  include _topbar.jade
  include _navbar.jade
  include components/_breadcrumbs.jade
  include components/_our-gallery.jade
  include components/_footer.jade
  include components/_copy-rights.jade