extends layout/layout.jade
block pagecontent
  include _topbar.jade
  include _navbar.jade
  include components/_header.jade
  include components/_about-us.jade
  -var causesversion = "horizontal"
  include components/_causes.jade
  include components/_dark-section.jade
  include components/_testmonials.jade
  include components/_our-team.jade
  include components/_our-numbers.jade
  include components/_blog.jade
  include components/_footer.jade
  include components/_copy-rights.jade