extends layout/layout.jade
block pagecontent
  -var TopBarVersion ="green"
  include _topbar.jade
  include _navbar.jade
  -var headerversion = 3
  include components/_header.jade
  -var eventversion ="one"
  -var x=0
  include components/_upcoming-events.jade
  include components/_become.jade
  -var causesversion = "one"
  include components/_causes.jade
  //include components/_our-gallery.jade
  include components/_blog.jade
  include components/_partners.jade
  -var redsectionversion ="subscribe"
  include components/_red-section.jade
  -var footerversion ="whitecenter"
  include components/_footer.jade