extends layout/layout.jade
block pagecontent
  -var pagetitle="OUR TEAM"
  include _topbar.jade
  include _navbar.jade
  include components/_breadcrumbs.jade
  -var teamnumber="teampage"
  include components/_our-team.jade
  include components/_partners.jade
  -var redsectionversion = "subsribe"
  include components/_red-section.jade
  include components/_footer.jade
  include components/_copy-rights.jade