/*--------------------------------------------------

- [21] - BreadCrumbs

---------------------------------------------------*/
.breadcrumbs {
  background: url(http://placehold.it/1920x300) top center no-repeat;
  background-size: cover;
  height: 200px;
  padding-top: 80px;
  width: 100%;
  color: #fff;
  overflow: hidden;
  .container {
    z-index: 4;
  }
  .page-title,ul {
    z-index: 4;
    margin: 0;
    color: #fff;
    position: relative;
  }
  ul {
    float: right;
    li {
      float: left;
      margin-right: 10px;
      a {
        color: inherit;
      }
      i {
        margin-left: 5px;
      }
      &:last-of-type {
        margin-right: 0;
        color: $primary-color;
      }
    }
  }
  /// responsive
  @media screen and (max-width:768px) {
    text-align: center;
    ul {text-align: center; float: none; margin-top: 15px;}
    ul li {text-align: center; float: none; display: inline-block;}
  }
}