/*--------------------------------------------------

- [14] -  Footer

---------------------------------------------------*/
footer {
  clear: both;
  padding: 60px 0;
  color: #fff;
  &.dark {
    background: $secondary-color;
    .sub-section-title {
      color: #fff;
      margin-bottom: 30px;
    }
    p {
      font-size: 12px;
      color: #f5f5f5;
    }
  }
  &.centerd {
    border-top: 1px solid $border-color;
    p {
      max-width: 600px;
      text-align: center;
      margin: 20px auto;
      color: darken(#fff,15%);
    }
    .social {
      li  {
        margin-right: 10px;
        margin-left: 10px;
        
        i {color: $meta-text; font-size: 18px;}
      }
    }
    
  }
  &.dark-version {}
  .social {
    color: #f5f5f5;
    font-size: 14px;
    li {
      display: inline-block;
      margin-right: 5px;
      &:last-of-type {
        margin-right: 0;
      }
      a {
        color: #f5f5f5;
      }
    }
  }
  .links {
    font-size: 12px;
    li {
      margin-bottom: 10px;
      a {
        color: inherit;
      }
      i {
        margin-right: 5px;
      }
    }
  }
  .posts {
    li {
      margin-bottom: 15px;
      overflow: hidden;
      &:last-of-type {margin-bottom: 0;}
      .img {
        width: 70px;
        float: left;
        margin-top: 5px;
        height: 70px;
        margin-right: 15px;
        overflow: hidden;
        img {
          
        }
      }
      .content {
        float: left;
        max-width: 160px;
        .post-title {
          font-size: 12px;
          overflow: hidden;
          margin: 0;
          line-height: 19px;
          height: 57px;
          a {
            color: inherit;
          }
        }
        .date {font-size: 10px; color: darken(#fff,20%)}
      }
    }
  }
  .flicker-feed {
    overflow: hidden;
    li {
      float: left;
      width: 80px;
      height: 80px;
      margin-right: 5px;
      overflow: hidden;
      margin-bottom: 5px;
    }
  }
  .logo {
    text-align: center;
    margin: auto;
    width: 225px;
  }
}

/// responsive

@media screen and (max-width:768px) {
  .footer-col {
    margin-bottom: 30px;
  }
}