/*--------------------------------------------------

- [7] -  Our Team

---------------------------------------------------*/

.our-team {
  .team-member {
    margin-bottom: 30px;
    overflow: hidden;
    h4 {
      margin-top: 0;
      text-transform: capitalize;
      margin-bottom: 5px;
    }
    .title {
      margin-bottom: 5px;
      font-size: 12px;
      font-style: italic;
      display: block;
      color: $meta-text;
    }
    ul.social {
      li {
        width: 28px;
        float: left;
        margin-bottom: 5px;
        background: $primary-color;
        margin-right: 10px;
        height: 28px;
        text-align: center;
        border-radius: 50%;
        line-height: 28px;
        a {
          display: block;
        }
        i {
          color: #fff;
          line-height: 28px;
        }
        &:hover {
          background: lighten($primary-color,5%);
        }
      }
    }
    p {
      line-height: 1.6;
      color: $secondary-text;
      height: 6.4em;
      margin-bottom: 10px;
      overflow: hidden;
    }
    img {
      height: 120px;
      width: 120px;
      object-fit: cover;
      float: right;
    }
    
  }
  .team-member-wrap {
    &:nth-last-child(1),&:nth-last-child(2){
      .team-member {
        margin-bottom: 0;
      }
    }
  }
  @media screen and (max-width:992px) {
    .team-member-wrap {
      &:nth-last-child(2){
        .team-member {
          margin-bottom: 30px;
        }
      }
    //  .team-member {
    //    img { 
    //      height: 150px;
    //      width: 150px;
    //    }
    //  }
    }
  }
  @media screen and (max-width:767px) {
    .team-member-wrap .team-member {
      margin-bottom: 30px;
    }
    .team-member-wrap {
      padding-left: 60px;
      padding-right: 60px;
      &:nth-last-child(1),&:nth-last-child(2){
        .team-member {
          margin-bottom: 30px;
        }
      }
    }
    .img {
      margin-bottom: 15px;
      img {
        float: none;
      }
    }
  }
}