/*--------------------------------------------------

- [2] - Base styles

---------------------------------------------------*/

@font-face {
  font-family: open-sans;
  src: url(fonts/OpenSans-Regular.ttf);
  font-weight:500;
}

@font-face {
  font-family: open-sans;
  src: url(fonts/OpenSans-Light.ttf);
  font-weight:300;
}

@font-face {
  font-family: open-sans;
  src: url(fonts/OpenSans-Bold.ttf);
  font-weight:700;
}

@font-face {
  font-family: Roboto;
  src: url(fonts/RobotoSlab-Regular.ttf);
  font-weight:700;
}

@font-face {
  font-family: Merriweather;
  src: url(fonts/Merriweather-BoldItalic.ttf);
  font-style: italic;
  font-weight:700;  
}

@font-face {
  font-family: Halant;
  src: url(fonts/Halant-Regular.ttf);
  font-weight:400;  
}

@font-face {
  font-family: Merriweather;
  src: url(fonts/Merriweather-Regular.ttf);
  font-weight:400;  
}

@font-face {
  font-family: Hind;
  src: url(fonts/Hind-Light.ttf);
  font-weight:300;  
}

@font-face {
  font-family: Hind;
  src: url(fonts/Hind-Medium.ttf);
  font-weight:500;  
}

@font-face {
  font-family: Hind;
  src: url(fonts/Hind-Semibold.ttf);
  font-weight:600;  
}

@font-face {
  font-family: Hind;
  src: url(fonts/Hind-Bold.ttf);
  font-weight:700;  
}

* {
  box-sizing: border-box;
}

ul {
 list-style: none; 
}

a {
 color: $primary-color;
  &:hover {
    text-decoration: none;
    color: lighten($primary-color,10%);
  }
}


*:focus {
    outline: none;
    text-decoration: none;
}
a:focus {
  text-decoration: none;
}

img {
  max-width: 100%;
}

input[type="search"],input[type="text"],input[type="email"] {
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 3px;
  border: 1px solid $border-color;
  &.form-control-lg {
    height: 50px;
  }
}
textarea {
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid $border-color;
}
input:focus {
  outline: 0;
  border: 2px solid $border-color;
}
ul {
  padding: 0;
  margin: 0;
}
ul.pagination {
  >li{
    display:inline-block;
    text-align: center;
    padding: 0;
    color: $secondary-text;
    >a {
      background: #fff;
      border-radius: 0 !important;
      margin-right: 10px;
      border: 1px solid $border-color;
      color: inherit;
    }
    &.active {
      >a {
      background: $primary-color;
      color: #fff;
      border-color: $primary-color;
    }
  }
}
}