.error-page.text-center.overlay-dark
  .post-container
    h3.message 404
    h3.not-found.nomargin PAGE NOT FOUND
    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
    button.primary.button.btn-xlg RETURN TO HOMEPAGE