section.become-section
  .col-md-4.nopadding.violet-bg
    .become-a-thing
      h3.title DONATE WITH MONEY
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
      button.button.btn-border-light.btn-lg READ MORE
      
  .col-md-4.nopadding.teal-bg
    .become-a-thing
      h3.title Become a volunteer
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
      button.button.btn-border-light.btn-lg READ MORE
      
  .col-md-4.nopadding.red-bg
    .become-a-thing
      h3.title Donate with  used items
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
      button.button.btn-border-light.btn-lg READ MORE
    