-var links = ['Home','About us','Services','Causes','Events','Blog','Contact us']
.copy-rights
  .container
    p All Right Resreved 2015 , Resala Template
    ul
      -for(x=0;x<7;x++)
        li: a(href="#") #{links[x]}