case headerversion 
 when 4
    header.version4.overlay-dark3#header
      .container
        .content
          h1.white(class="wow fadeInUp") HELP US TO CONTINUE
          p.white(class="wow fadeInUp" data-wow-delay="0.3s") Help us to continue on our way to success , your contribution can make the world better
          ul.buttons
            li(class="wow fadeInRight")
              button.button.btn-primary.btn-lg(data-toggle="modal", data-target="#donatemodal") SUPPORT US NOW
            li(class="wow fadeInLeft")
              button.button.btn-border-light.btn-lg 
                i.icon-control-play 
                | WATCH VIDEO
              
  when 3
    header.version3.overlay-dark3#header
      .container
        .content
          h1.white(class="wow fadeInUp") HELP US TO STOP AFRICA’S catastrophe
          p.white(class="wow fadeInUp" data-wow-delay="0.3s") Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting
          ul.buttons
            li
              button.button.btn-primary.btn-lg(data-toggle="modal", data-target="#volunteermodal") BECOME A VOLUNTEER
            li
              button.button.btn-border-light.btn-lg About Us
  when 2
    header.version2.overlay-dark2#header
      .container
        .content
          h1.white(class="wow fadeInUp") We work hard to deliver your donation the right people
          p.white(class="wow fadeInUp" data-wow-delay="0.3s") There are millions who needs you help around the world , you can donate with anything you have not only money


          ul.buttons
            li(class="wow fadeInRight")
              button.button.btn-primary.btn-lg(data-toggle="modal", data-target="#volunteermodal") BECOME A VOLUNTEER
            li(class="wow fadeInLeft" )
              button.button.btn-border-light.btn-lg About Us
  
  when 5
    header.version5.parallax-bg#header
      .container
        .content
          h1.white(class="wow fadeInUp") 
            span.left
              img(src!="<?php bloginfo('template_directory'); ?>/img/quote-left-white.png", alt="", height="36px")
            | The only thing that you absolutely have to know is the location of the library.
            span.right 
              img(src!="<?php bloginfo('template_directory'); ?>/img/quote-right-white.png", alt="", height="36px")
          p.white(class="wow fadeInUp" data-wow-delay="0.3s") - Albert Einstein
          form.form-inline(method="post" action="mail.php")
            .form-group
              .input-group
                .input-group-addon $
                input.form-control.form-control-lg(type="text" placeholder="Amount" onfocus="this.placeholder=''" onblur="this.placeholder='Amount'" name="name" required)
            button.button.btn-primary.btn-lg(data-toggle="modal", data-target="#donatemodal") 
              span DONATE NOW
  default
    header.version1.parallax-bg#header
      .container
        .content
          h1(class="wow fadeInUp") ARE YOU HERE TO SAVE THE PLANET ?
          p(class="wow fadeInUp" data-wow-delay="0.3s") There are millions who needs you help around the world , you can donate with anything you have not only money
          ul.buttons
            li
              button.button.btn-primary.btn-lg(data-toggle="modal", data-target="#volunteermodal" class="wow fadeInLeft") BECOME A VOLUNTEER
            li
              button.button.btn-border-dark.btn-lg(data-toggle="modal", data-target="#donatemodal" class="wow fadeInRight") DONATE NOW