section.section.our-numbers.overlay-dark3.parallax-bg2
  .container
    .row
      .col-md-3.col-sm-6.col-xs-12(class="wow fadeInLeft" data-wow-delay="0.1s")
        .single-number.yellow
          .icon: i.icon-people
          .content
            h6.title VOLUNTEERS
            span.number.count( data-from="25" data-to="503") 503
      .col-md-3.col-sm-6.col-xs-12(class="wow fadeInLeft" data-wow-delay="0.3s")
        .single-number.teal
          .icon: i.icon-clock
          .content
            h6.title Hours of work
            span.number.count( data-from="25" data-to="3124") 3125
      .col-md-3.col-sm-6.col-xs-12(class="wow fadeInLeft" data-wow-delay="0.5s")
        .single-number.red
          .icon: i.icon-badge
          .content
            h6.title PROJECTS
            span.number.count( data-from="25" data-to="300") 300
      .col-md-3.col-sm-6.col-xs-12(class="wow fadeInLeft" data-wow-delay="0.7s")
        .single-number.violet
          .icon: i.icon-heart
          .content
            h6.title DONATORS
            span.number.count( data-from="25" data-to="3125") 3125
          