case redsectionversion
  when "subsribe"
    section.small-section.red-bg
        .container
          .row
            .col-md-5.col-sm-12
               p 
                 | Want to get urgent causes on your mail ? Subscribe to Our Newsletter
            .col-md-7.col-sm-12.content
              input(type="text" class="mail" placeholder="Enter Your Email address")
              button.button.primary.btn-small  Become a Volunteer
  default
    section.small-section.red-bg
        .container
          .row
            .col-md-9
               p There are 9.2 million kid in Africa  who suffers from starvation who need our help
            .col-md-3
              button.button.primary.btn-small  Become a Volunteer