.error-page.text-center.overlay-dark
  .post-container
    h1.nomargin STAY TUNED
    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
    .count-down
      ul 
        li
          h5 25 <br />
           |DAYS
        li
          h5 19 <br />
           |HOURS
        li
          h5 30 <br />
           |MINUTES
        li
          h5 15 <br />
           |SECONDS