script(src!="<?php bloginfo('template_directory'); ?>/js/jquery.min.js")
script(src!="<?php bloginfo('template_directory'); ?>/js/plugins.js")
script(src!="<?php bloginfo('template_directory'); ?>/js/main.js")
script(src='//localhost:9100/livereload.js')